// COLOR PALLETTE
// You can find the names of colors on this website https://www.htmlcsscolor.com/hex/722357
$alice-blue: #f8f9fa;
$baltic-sea: #343a40;
$grey: #777;
$curious-blue: #337ab7;
$japanese-laurel: #3c763d;
$astral: #31708f;
$mckenzie: #8a6d3b;
$roof-terracotta: #a94442;

// TEXT PALLETTE
$text-light: $alice-blue;
$text-dark: $baltic-sea;
$text-muted: $grey;
$text-primary: $curious-blue;
$text-success: $japanese-laurel;
$text-info: $astral;
$text-warning: $mckenzie;
$text-danger: $roof-terracotta;

// BUTTON PALLETTE
$button-light: $alice-blue;
$button-dark: $baltic-sea;
$button-muted: $grey;
$button-primary: $curious-blue;
$button-success: $japanese-laurel;
$button-info: $astral;
$button-warning: $mckenzie;
$button-danger: $roof-terracotta;

// BACKGROUND PALLETTE
$bg-light: $alice-blue;
$bg-dark: $baltic-sea;
$bg-muted: $grey;
$bg-primary: $curious-blue;
$bg-success: $japanese-laurel;
$bg-info: $astral;
$bg-warning: $mckenzie;
$bg-danger: $roof-terracotta;
